node-red/flows.json
[{"id":"bf3a7ed7.131db","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"a1f9bc15.3702d","type":"tab","label":"Covid-19","disabled":true,"info":""},{"id":"71486702.1d7a48","type":"tab","label":"Garbage","disabled":false,"info":""},{"id":"1e1e17ee.5a4498","type":"tab","label":"System","disabled":false,"info":""},{"id":"17e4099f.4293f6","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"9076283d.6216c8","type":"server","d":true,"name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"96a05140.86be2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5d170a0.8c899f8","type":"server","name":"Home Assistant"},{"id":"4ae5773a.26d8a8","type":"server","name":"Home Assistant"},{"id":"b28e5e34.e99ab","type":"server","name":"Home Assistant"},{"id":"b2220307.a8fd9","type":"http request","z":"a1f9bc15.3702d","name":"state cases","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/covid-19-au/covid-19-au.github.io/prod/src/data/stateCaseData.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":160,"wires":[["723ffca1.654d34"]]},{"id":"723ffca1.654d34","type":"change","z":"a1f9bc15.3702d","name":"just victoria data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["768ee9e5.d39128"]]},{"id":"c1c0c403.f8f698","type":"ha-entity","z":"a1f9bc15.3702d","name":"COVID-19","server":"17e4099f.4293f6","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"COVID-19 Data"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:virus"},{"property":"unit_of_measurement","value":""}],"state":"payload[1]","stateType":"msg","attributes":[{"property":"state","value":"payload[0]","valueType":"msg"},{"property":"cases","value":"payload[1]","valueType":"msg"},{"property":"deaths","value":"payload[2]","valueType":"msg"},{"property":"recovered","value":"payload[3]","valueType":"msg"},{"property":"tested","value":"payload[4]","valueType":"msg"},{"property":"active","value":"payload[5]","valueType":"msg"},{"property":"hospital","value":"payload[6]","valueType":"msg"},{"property":"icu","value":"payload[7]","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":790,"y":160,"wires":[[]]},{"id":"45eb7fec.e2518","type":"inject","z":"a1f9bc15.3702d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["b2220307.a8fd9"]]},{"id":"768ee9e5.d39128","type":"rbe","z":"a1f9bc15.3702d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":610,"y":160,"wires":[["c1c0c403.f8f698"]]},{"id":"f9913595.efe328","type":"http request","z":"a1f9bc15.3702d","name":"state cases","method":"GET","ret":"obj","paytoqs":false,"url":"https://raw.githubusercontent.com/covid-19-au/covid-19-au.github.io/prod/src/data/state.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":440,"wires":[["41f8f807.bb0c88"]]},{"id":"943a70d.af35e9","type":"inject","z":"a1f9bc15.3702d","name":"","repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":440,"wires":[["f9913595.efe328"]]},{"id":"6bf5b554.e4382c","type":"split","z":"a1f9bc15.3702d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":440,"wires":[["f662ccaa.1c357","b1967658.50ec28"]]},{"id":"f662ccaa.1c357","type":"switch","z":"a1f9bc15.3702d","name":"today","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"msg.parts.count-1","vt":"jsonata"}],"checkall":"true","repair":true,"outputs":1,"x":690,"y":420,"wires":[["8f985391.49fd1"]]},{"id":"b1967658.50ec28","type":"switch","z":"a1f9bc15.3702d","name":"yesterday","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"msg.parts.count-2","vt":"jsonata"}],"checkall":"true","repair":true,"outputs":1,"x":680,"y":460,"wires":[["74cc073.7ea86f8"]]},{"id":"8f985391.49fd1","type":"change","z":"a1f9bc15.3702d","name":"only VIC data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"VIC\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[["caff9bc8.4e9be8"]]},{"id":"74cc073.7ea86f8","type":"change","z":"a1f9bc15.3702d","name":"only VIC data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"VIC\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":460,"wires":[["a94cd498.f28f78"]]},{"id":"62beddd5.7155d4","type":"function","z":"a1f9bc15.3702d","name":"today - yesterday","func":"var value = {payload:(msg.payload.today[0]-msg.payload.yesterday[0])};\nreturn value;","outputs":1,"noerr":0,"x":1330,"y":440,"wires":[["58f80cd.746d5f4"]]},{"id":"87bf95c5.13b568","type":"join","z":"a1f9bc15.3702d","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":440,"wires":[["62beddd5.7155d4"]]},{"id":"a94cd498.f28f78","type":"change","z":"a1f9bc15.3702d","name":"topic: yesterday","rules":[{"t":"set","p":"topic","pt":"msg","to":"yesterday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":460,"wires":[["87bf95c5.13b568"]]},{"id":"caff9bc8.4e9be8","type":"change","z":"a1f9bc15.3702d","name":"topic: today","rules":[{"t":"set","p":"topic","pt":"msg","to":"today","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":420,"wires":[["87bf95c5.13b568"]]},{"id":"58f80cd.746d5f4","type":"ha-entity","z":"a1f9bc15.3702d","name":"COVID-19 New Cases VIC","server":"17e4099f.4293f6","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"COVID-19 New"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:virus"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1560,"y":440,"wires":[[]]},{"id":"e29f105b.fc3ab","type":"http request","z":"a1f9bc15.3702d","name":"Health GOV","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert/coronavirus-covid-19-current-situation-and-case-numbers","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":920,"wires":[["4775485.34fe6b8"]]},{"id":"d7b7da61.76baa8","type":"inject","z":"a1f9bc15.3702d","name":"","repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":130,"y":920,"wires":[["e29f105b.fc3ab"]]},{"id":"df67b6c9.75ec08","type":"rbe","z":"a1f9bc15.3702d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":850,"y":760,"wires":[[]]},{"id":"5fe68417.8d2afc","type":"ha-entity","z":"a1f9bc15.3702d","d":true,"name":"COVID-19 Local","server":"17e4099f.4293f6","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"COVID-19 Local"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:home"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":900,"y":920,"wires":[[]]},{"id":"41f8f807.bb0c88","type":"rbe","z":"a1f9bc15.3702d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":440,"wires":[["6bf5b554.e4382c"]]},{"id":"22ac052a.8c886a","type":"bigtimer","z":"bf3a7ed7.131db","outtopic":"","outpayload1":"","outpayload2":"","name":"Turn on at Sunset, Off at sunrise","comment":"","lat":"-27.596667","lon":"153.131002","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"-45","endoff":"-60","startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":190,"y":360,"wires":[[],[],["5390ed56.bed3c4"]]},{"id":"8fd47b0e.dc49e8","type":"http request","z":"a1f9bc15.3702d","name":"state cases","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/covid-19-au/covid-19-au.github.io/prod/src/data/stateCaseData.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":80,"wires":[["fa9fb400.3b7238"]]},{"id":"fa9fb400.3b7238","type":"change","z":"a1f9bc15.3702d","name":"Just NSW Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[["1dcf26be.c755f9"]]},{"id":"b9a2219a.1a05f","type":"inject","z":"a1f9bc15.3702d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["8fd47b0e.dc49e8"]]},{"id":"1dcf26be.c755f9","type":"rbe","z":"a1f9bc15.3702d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":610,"y":80,"wires":[["501ec33c.9ef57c"]]},{"id":"501ec33c.9ef57c","type":"ha-entity","z":"a1f9bc15.3702d","name":"COVID-19 NSW","server":"17e4099f.4293f6","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"COVID-19 NSW"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:virus"},{"property":"unit_of_measurement","value":""}],"state":"payload[1]","stateType":"msg","attributes":[{"property":"state","value":"payload[0]","valueType":"msg"},{"property":"cases","value":"payload[1]","valueType":"msg"},{"property":"deaths","value":"payload[2]","valueType":"msg"},{"property":"recovered","value":"payload[3]","valueType":"msg"},{"property":"tested","value":"payload[4]","valueType":"msg"},{"property":"active","value":"payload[5]","valueType":"msg"},{"property":"hospital","value":"payload[6]","valueType":"msg"},{"property":"icu","value":"payload[7]","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":800,"y":80,"wires":[[]]},{"id":"17349bdb.16fcd4","type":"api-call-service","z":"bf3a7ed7.131db","name":"Night light On","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.xiaomi_mi_smart_wifi_socket","data":"{   \"entity_id\": \"switch.xiaomi_mi_smart_wifi_socket\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":300,"wires":[[]]},{"id":"12deff.5f332102","type":"http request","z":"a1f9bc15.3702d","name":"state cases","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/covid-19-au/covid-19-au.github.io/prod/src/data/stateCaseData.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":220,"wires":[["cf7230d2.1826b"]]},{"id":"cf7230d2.1826b","type":"change","z":"a1f9bc15.3702d","name":"Just QLD Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[["31e57ba9.287f34"]]},{"id":"2aba0bcc.8a4ab4","type":"inject","z":"a1f9bc15.3702d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":220,"wires":[["12deff.5f332102"]]},{"id":"31e57ba9.287f34","type":"rbe","z":"a1f9bc15.3702d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":610,"y":220,"wires":[["595ed284.a9ffac"]]},{"id":"595ed284.a9ffac","type":"ha-entity","z":"a1f9bc15.3702d","name":"COVID-19 QLD","server":"17e4099f.4293f6","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"COVID-19 QLD"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:virus"},{"property":"unit_of_measurement","value":""}],"state":"payload[1]","stateType":"msg","attributes":[{"property":"state","value":"payload[0]","valueType":"msg"},{"property":"cases","value":"payload[1]","valueType":"msg"},{"property":"deaths","value":"payload[2]","valueType":"msg"},{"property":"recovered","value":"payload[3]","valueType":"msg"},{"property":"tested","value":"payload[4]","valueType":"msg"},{"property":"active","value":"payload[5]","valueType":"msg"},{"property":"hospital","value":"payload[6]","valueType":"msg"},{"property":"icu","value":"payload[7]","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":810,"y":220,"wires":[[]]},{"id":"85e26882.5e6508","type":"http request","z":"a1f9bc15.3702d","name":"state cases","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/covid-19-au/covid-19-au.github.io/prod/src/data/state.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":560,"wires":[["686b66da.6b24b8"]]},{"id":"be2a693c.ab49a8","type":"inject","z":"a1f9bc15.3702d","name":"","repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":560,"wires":[["85e26882.5e6508"]]},{"id":"89209566.47f188","type":"split","z":"a1f9bc15.3702d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":560,"wires":[["c2d539eb.fce6e8","774d66f4.6920d8"]]},{"id":"c2d539eb.fce6e8","type":"switch","z":"a1f9bc15.3702d","name":"today","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"msg.parts.count-1","vt":"jsonata"}],"checkall":"true","repair":true,"outputs":1,"x":690,"y":540,"wires":[["3e21cc4c.b02ab4"]]},{"id":"774d66f4.6920d8","type":"switch","z":"a1f9bc15.3702d","name":"yesterday","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"msg.parts.count-2","vt":"jsonata"}],"checkall":"true","repair":true,"outputs":1,"x":680,"y":580,"wires":[["697a6a0.efb9898"]]},{"id":"3e21cc4c.b02ab4","type":"change","z":"a1f9bc15.3702d","name":"only NSW data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"NSW\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":540,"wires":[["901c299c.1a74a8"]]},{"id":"697a6a0.efb9898","type":"change","z":"a1f9bc15.3702d","name":"only NSW data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"NSW\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":580,"wires":[["9f63c9ee.01c628"]]},{"id":"ab19ef27.b4196","type":"function","z":"a1f9bc15.3702d","name":"today - yesterday","func":"var value = {payload:(msg.payload.today[0]-msg.payload.yesterday[0])};\nreturn value;","outputs":1,"noerr":0,"x":1330,"y":560,"wires":[["949e8538.2e2728"]]},{"id":"c2aa86de.868888","type":"join","z":"a1f9bc15.3702d","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":560,"wires":[["ab19ef27.b4196"]]},{"id":"9f63c9ee.01c628","type":"change","z":"a1f9bc15.3702d","name":"topic: yesterday","rules":[{"t":"set","p":"topic","pt":"msg","to":"yesterday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":580,"wires":[["c2aa86de.868888"]]},{"id":"901c299c.1a74a8","type":"change","z":"a1f9bc15.3702d","name":"topic: today","rules":[{"t":"set","p":"topic","pt":"msg","to":"today","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":540,"wires":[["c2aa86de.868888"]]},{"id":"949e8538.2e2728","type":"ha-entity","z":"a1f9bc15.3702d","name":"COVID-19 New Cases - NSW","server":"17e4099f.4293f6","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"COVID-19 New NSW"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:virus"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1570,"y":560,"wires":[[]]},{"id":"686b66da.6b24b8","type":"rbe","z":"a1f9bc15.3702d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":560,"wires":[["89209566.47f188"]]},{"id":"a1c51a1a.206068","type":"http request","z":"a1f9bc15.3702d","name":"state cases","method":"GET","ret":"obj","paytoqs":false,"url":"https://raw.githubusercontent.com/covid-19-au/covid-19-au.github.io/prod/src/data/state.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":660,"wires":[["bfdef3b9.0ba56"]]},{"id":"96ebcda2.9c9f9","type":"inject","z":"a1f9bc15.3702d","name":"","repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":660,"wires":[["a1c51a1a.206068"]]},{"id":"75f82086.37e0f","type":"split","z":"a1f9bc15.3702d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":660,"wires":[["4b2ddd51.3155e4","e6dc9a7d.fc6598"]]},{"id":"4b2ddd51.3155e4","type":"switch","z":"a1f9bc15.3702d","name":"today","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"msg.parts.count-1","vt":"jsonata"}],"checkall":"true","repair":true,"outputs":1,"x":690,"y":640,"wires":[["4d69c4a6.1abe7c"]]},{"id":"e6dc9a7d.fc6598","type":"switch","z":"a1f9bc15.3702d","name":"yesterday","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"msg.parts.count-2","vt":"jsonata"}],"checkall":"true","repair":true,"outputs":1,"x":680,"y":680,"wires":[["de8302ea.8d90f"]]},{"id":"4d69c4a6.1abe7c","type":"change","z":"a1f9bc15.3702d","name":"only QLD data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"QLD\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":640,"wires":[["232be721.dbe588"]]},{"id":"de8302ea.8d90f","type":"change","z":"a1f9bc15.3702d","name":"only QLD data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"QLD\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":680,"wires":[["df05cd34.3e86"]]},{"id":"295ad176.37631e","type":"function","z":"a1f9bc15.3702d","name":"today - yesterday","func":"var value = {payload:(msg.payload.today[0]-msg.payload.yesterday[0])};\nreturn value;","outputs":1,"noerr":0,"x":1330,"y":660,"wires":[["4090e77a.3cd5f8"]]},{"id":"6c51fb37.a45494","type":"join","z":"a1f9bc15.3702d","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":660,"wires":[["295ad176.37631e"]]},{"id":"df05cd34.3e86","type":"change","z":"a1f9bc15.3702d","name":"topic: yesterday","rules":[{"t":"set","p":"topic","pt":"msg","to":"yesterday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":680,"wires":[["6c51fb37.a45494"]]},{"id":"232be721.dbe588","type":"change","z":"a1f9bc15.3702d","name":"topic: today","rules":[{"t":"set","p":"topic","pt":"msg","to":"today","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":640,"wires":[["6c51fb37.a45494"]]},{"id":"4090e77a.3cd5f8","type":"ha-entity","z":"a1f9bc15.3702d","name":"COVID-19 New Cases - QLD","server":"17e4099f.4293f6","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"COVID-19 New QLD"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:virus"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1560,"y":660,"wires":[[]]},{"id":"bfdef3b9.0ba56","type":"rbe","z":"a1f9bc15.3702d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":660,"wires":[["75f82086.37e0f"]]},{"id":"f10beff5.58133","type":"http request","z":"a1f9bc15.3702d","name":"AUS cases","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/covid-19-au/covid-19-au.github.io/prod/src/data/country.json","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":300,"wires":[["a55c53e4.c35f4"]]},{"id":"a4ff9f32.0e2b7","type":"inject","z":"a1f9bc15.3702d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":90,"y":300,"wires":[["f10beff5.58133"]]},{"id":"3cbe5aab.9b5606","type":"rbe","z":"a1f9bc15.3702d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":300,"wires":[["a746307e.682d6"]]},{"id":"a746307e.682d6","type":"ha-entity","z":"a1f9bc15.3702d","name":"COVID-19 AUS","server":"17e4099f.4293f6","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"COVID-19 aus"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:virus"},{"property":"unit_of_measurement","value":""}],"state":"payload[0]","stateType":"msg","attributes":[{"property":"Total","value":"payload[0]","valueType":"msg"},{"property":"recovered","value":"payload[1]","valueType":"msg"},{"property":"deaths","value":"payload[2]","valueType":"msg"},{"property":"recovered","value":"payload[3]","valueType":"msg"},{"property":"active","value":"payload[4]","valueType":"msg"},{"property":"tests","value":"payload[5]","valueType":"msg"},{"property":"hospital","value":"payload[6]","valueType":"msg"},{"property":"icu","value":"payload[7]","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":790,"y":300,"wires":[[]]},{"id":"a55c53e4.c35f4","type":"change","z":"a1f9bc15.3702d","name":"Just QLD Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[-1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["3cbe5aab.9b5606"]]},{"id":"5390ed56.bed3c4","type":"switch","z":"bf3a7ed7.131db","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":360,"wires":[["17349bdb.16fcd4","272bfbf4.316cd4"],["53e5560a.7f1248","89e7ecdb.db682","500c3414.451cac"]]},{"id":"53e5560a.7f1248","type":"api-current-state","z":"bf3a7ed7.131db","name":"Is Night light on?","server":"17e4099f.4293f6","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.xiaomi_mi_smart_wifi_socket","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":380,"wires":[[],["9f1f8794.774738"]]},{"id":"9f1f8794.774738","type":"api-call-service","z":"bf3a7ed7.131db","name":"Night light Off","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.xiaomi_mi_smart_wifi_socket","data":"{   \"entity_id\": \"switch.xiaomi_mi_smart_wifi_socket\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":380,"wires":[[]]},{"id":"4775485.34fe6b8","type":"html","z":"a1f9bc15.3702d","name":"Get ","property":"payload","outproperty":"payload","tag":"h1.ng-binding","ret":"html","as":"single","x":450,"y":920,"wires":[["d19e4c68.c28"]]},{"id":"d19e4c68.c28","type":"debug","z":"a1f9bc15.3702d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":920,"wires":[]},{"id":"89e7ecdb.db682","type":"api-current-state","z":"bf3a7ed7.131db","name":"Is Baby Room light on?","server":"17e4099f.4293f6","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.baby_room_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":440,"wires":[[],["9a0265a.58b4e98"]]},{"id":"9a0265a.58b4e98","type":"api-call-service","z":"bf3a7ed7.131db","name":"Baby light Off","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.baby_room_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":440,"wires":[[]]},{"id":"272bfbf4.316cd4","type":"api-call-service","z":"bf3a7ed7.131db","name":"Baby light On","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.baby_room_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":240,"wires":[[]]},{"id":"dc293a80.274398","type":"api-call-service","z":"71486702.1d7a48","name":"Turn reminder light on","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.garbage_light","data":" {     \"brightness\": 255,     \"rgb_color\": [       0,       255,       0     ]   } ","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":240,"wires":[[]]},{"id":"def58cb5.ced62","type":"api-call-service","z":"71486702.1d7a48","name":"Turn reminder light on","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.garbage_light","data":" {     \"brightness\": 255,     \"rgb_color\": [       255,       255,       0     ]  }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":420,"wires":[[]]},{"id":"df0598e7.737078","type":"delay","z":"71486702.1d7a48","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":420,"wires":[["def58cb5.ced62"]]},{"id":"31c2601a.fc32","type":"server-state-changed","z":"71486702.1d7a48","name":"Waste Sensor","server":"17e4099f.4293f6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.waste","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"1","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":240,"wires":[["dc293a80.274398"],[]]},{"id":"d4d2b881.07e5b8","type":"server-state-changed","z":"71486702.1d7a48","name":"Recycle sensor","server":"17e4099f.4293f6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.recycle","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"1","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":420,"wires":[["df0598e7.737078"],[]]},{"id":"7fd6eabe.f35864","type":"server-state-changed","z":"71486702.1d7a48","name":"Patch Tuesday?","server":"17e4099f.4293f6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.patch","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":140,"wires":[["36a8683.7090e98"],[]]},{"id":"36a8683.7090e98","type":"api-call-service","z":"71486702.1d7a48","name":"Turn reminder light on","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.garbage_light","data":" {     \"brightness\": 255,     \"rgb_color\": [       255,       0,       0     ]   }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":140,"wires":[[]]},{"id":"b9422aeb.dab558","type":"api-call-service","z":"bf3a7ed7.131db","name":"Bed light off","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.bedlight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":500,"wires":[[]]},{"id":"500c3414.451cac","type":"api-current-state","z":"bf3a7ed7.131db","name":"Is bed lights on?","server":"17e4099f.4293f6","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.bedlight","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":500,"wires":[[],["b9422aeb.dab558"]]},{"id":"ae778.f2b58888","type":"server-state-changed","z":"bf3a7ed7.131db","name":"When garage door opens...","server":"17e4099f.4293f6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.renee_garage_door_2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":740,"wires":[["acf4cc93.dea43"],[]]},{"id":"e15e2fd7.3fac2","type":"api-call-service","z":"bf3a7ed7.131db","name":"Turn downstairs on","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.downstairs","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":740,"wires":[[]]},{"id":"acf4cc93.dea43","type":"time-range-switch","z":"bf3a7ed7.131db","name":"","lat":"-27.59","lon":"153.13","startTime":"sunset","endTime":"sunrise","startOffset":"-45","endOffset":0,"x":380,"y":740,"wires":[[],[]]},{"id":"d0ded497.1b32c8","type":"server-state-changed","z":"bf3a7ed7.131db","name":"","server":"17e4099f.4293f6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.workshop","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"hours","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":250,"y":120,"wires":[["76bb6b58.df6264"],[]]},{"id":"76bb6b58.df6264","type":"api-call-service","z":"bf3a7ed7.131db","name":"Turn workshop off","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.workshop","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":120,"wires":[[]]},{"id":"fedd49a9.917db8","type":"server-state-changed","z":"1e1e17ee.5a4498","name":"PfSense","server":"17e4099f.4293f6","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.pfsense_gateway_wan_dhcp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"False","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"60","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":80,"wires":[["9d02f563.5c7718"],[]]},{"id":"c4a2f718.756db8","type":"api-call-service","z":"1e1e17ee.5a4498","name":"Annouce to household","server":"17e4099f.4293f6","version":1,"debugenabled":false,"service_domain":"script","service":"attention","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":80,"wires":[[]]},{"id":"9d02f563.5c7718","type":"time-range-switch","z":"1e1e17ee.5a4498","name":"","lat":"-27.59","lon":"153.13","startTime":"07:28","endTime":"19:00","startOffset":0,"endOffset":0,"x":290,"y":80,"wires":[["7fbb33d3.53c79c"],[]]},{"id":"7fbb33d3.53c79c","type":"function","z":"1e1e17ee.5a4498","name":"msg payload","func":"msg.payload = { data: {'message': 'Internet is currently down.' } };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":80,"wires":[["c4a2f718.756db8"]]}]
